.select2-results__options .flag{display:inline-block;height:16px;width:16px;vertical-align:text-top;line-height:16px;background:url(../images/flags16.png) no-repeat;}
.select2-results__options ._African_Union{background-position:0 -16px;}
.select2-results__options ._Arab_League{background-position:0 -32px;}
.select2-results__options ._ASEAN{background-position:0 -48px;}
.select2-results__options ._CARICOM{background-position:0 -64px;}
.select2-results__options ._CIS{background-position:0 -80px;}
.select2-results__options ._Commonwealth{background-position:0 -96px;}
.select2-results__options ._England{background-position:0 -112px;}
.select2-results__options ._European_Union, .select2-results__options .eu{background-position:0 -128px;}
.select2-results__options ._Islamic_Conference{background-position:0 -144px;}
.select2-results__options ._Kosovo{background-position:0 -160px;}
.select2-results__options ._NATO{background-position:0 -176px;}
.select2-results__options ._Northern_Cyprus{background-position:0 -192px;}
.select2-results__options ._Northern_Ireland{background-position:0 -208px;}
.select2-results__options ._Olimpic_Movement{background-position:0 -224px;}
.select2-results__options ._OPEC{background-position:0 -240px;}
.select2-results__options ._Red_Cross{background-position:0 -256px;}
.select2-results__options ._Scotland{background-position:0 -272px;}
.select2-results__options ._Somaliland{background-position:0 -288px;}
.select2-results__options ._Tibet{background-position:0 -304px;}
.select2-results__options ._United_Nations{background-position:0 -320px;}
.select2-results__options ._Wales{background-position:0 -336px;}
.select2-results__options .ad{background-position:0 -352px;}
.select2-results__options .ae{background-position:0 -368px;}
.select2-results__options .af{background-position:0 -384px;}
.select2-results__options .ag{background-position:0 -400px;}
.select2-results__options .ai{background-position:0 -416px;}
.select2-results__options .al{background-position:0 -432px;}
.select2-results__options .am{background-position:0 -448px;}
.select2-results__options .ao{background-position:0 -464px;}
.select2-results__options .aq{background-position:0 -480px;}
.select2-results__options .ar{background-position:0 -496px;}
.select2-results__options .as{background-position:0 -512px;}
.select2-results__options .at{background-position:0 -528px;}
.select2-results__options .au{background-position:0 -544px;}
.select2-results__options .aw{background-position:0 -560px;}
.select2-results__options .ax{background-position:0 -576px;}
.select2-results__options .az{background-position:0 -592px;}
.select2-results__options .ba{background-position:0 -608px;}
.select2-results__options .bb{background-position:0 -624px;}
.select2-results__options .bd{background-position:0 -640px;}
.select2-results__options .be{background-position:0 -656px;}
.select2-results__options .bf{background-position:0 -672px;}
.select2-results__options .bg{background-position:0 -688px;}
.select2-results__options .bh{background-position:0 -704px;}
.select2-results__options .bi{background-position:0 -720px;}
.select2-results__options .bj{background-position:0 -736px;}
.select2-results__options .bm{background-position:0 -752px;}
.select2-results__options .bn{background-position:0 -768px;}
.select2-results__options .bo{background-position:0 -784px;}
.select2-results__options .br{background-position:0 -800px;}
.select2-results__options .bs{background-position:0 -816px;}
.select2-results__options .bt{background-position:0 -832px;}
.select2-results__options .bw{background-position:0 -848px;}
.select2-results__options .by{background-position:0 -864px;}
.select2-results__options .bz{background-position:0 -880px;}
.select2-results__options .ca{background-position:0 -896px;}
.select2-results__options .cg{background-position:0 -912px;}
.select2-results__options .cf{background-position:0 -928px;}
.select2-results__options .cd{background-position:0 -944px;}
.select2-results__options .ch{background-position:0 -960px;}
.select2-results__options .ci{background-position:0 -976px;}
.select2-results__options .ck{background-position:0 -992px;}
.select2-results__options .cl{background-position:0 -1008px;}
.select2-results__options .cm{background-position:0 -1024px;}
.select2-results__options .cn{background-position:0 -1040px;}
.select2-results__options .co{background-position:0 -1056px;}
.select2-results__options .cr{background-position:0 -1072px;}
.select2-results__options .cu{background-position:0 -1088px;}
.select2-results__options .cv{background-position:0 -1104px;}
.select2-results__options .cy{background-position:0 -1120px;}
.select2-results__options .cz{background-position:0 -1136px;}
.select2-results__options .de{background-position:0 -1152px;}
.select2-results__options .dj{background-position:0 -1168px;}
.select2-results__options .dk{background-position:0 -1184px;}
.select2-results__options .dm{background-position:0 -1200px;}
.select2-results__options .do{background-position:0 -1216px;}
.select2-results__options .dz{background-position:0 -1232px;}
.select2-results__options .ec{background-position:0 -1248px;}
.select2-results__options .ee{background-position:0 -1264px;}
.select2-results__options .eg{background-position:0 -1280px;}
.select2-results__options .eh{background-position:0 -1296px;}
.select2-results__options .er{background-position:0 -1312px;}
.select2-results__options .es{background-position:0 -1328px;}
.select2-results__options .et{background-position:0 -1344px;}
.select2-results__options .fi{background-position:0 -1360px;}
.select2-results__options .fj{background-position:0 -1376px;}
.select2-results__options .fm{background-position:0 -1392px;}
.select2-results__options .fo{background-position:0 -1408px;}
.select2-results__options .fr{background-position:0 -1424px;}  .select2-results__options .bl, .select2-results__options .cp, .select2-results__options .mf, .select2-results__options .yt{background-position:0 -1424px;}
.select2-results__options .ga{background-position:0 -1440px;}
.select2-results__options .gb{background-position:0 -1456px;}  .select2-results__options .sh{background-position:0 -1456px;}
.select2-results__options .gd{background-position:0 -1472px;}
.select2-results__options .ge{background-position:0 -1488px;}
.select2-results__options .gg{background-position:0 -1504px;}
.select2-results__options .gh{background-position:0 -1520px;}
.select2-results__options .gi{background-position:0 -1536px;}
.select2-results__options .gl{background-position:0 -1552px;}
.select2-results__options .gm{background-position:0 -1568px;}
.select2-results__options .gn{background-position:0 -1584px;}
.select2-results__options .gp{background-position:0 -1600px;}
.select2-results__options .gq{background-position:0 -1616px;}
.select2-results__options .gr{background-position:0 -1632px;}
.select2-results__options .gt{background-position:0 -1648px;}
.select2-results__options .gu{background-position:0 -1664px;}
.select2-results__options .gw{background-position:0 -1680px;}
.select2-results__options .gy{background-position:0 -1696px;}
.select2-results__options .hk{background-position:0 -1712px;}
.select2-results__options .hn{background-position:0 -1728px;}
.select2-results__options .hr{background-position:0 -1744px;}
.select2-results__options .ht{background-position:0 -1760px;}
.select2-results__options .hu{background-position:0 -1776px;}
.select2-results__options .id{background-position:0 -1792px;}
.select2-results__options .mc{background-position:0 -1792px;}
.select2-results__options .ie{background-position:0 -1808px;}
.select2-results__options .il{background-position:0 -1824px;}
.select2-results__options .im{background-position:0 -1840px;}
.select2-results__options .in{background-position:0 -1856px;}
.select2-results__options .iq{background-position:0 -1872px;}
.select2-results__options .ir{background-position:0 -1888px;}
.select2-results__options .is{background-position:0 -1904px;}
.select2-results__options .it{background-position:0 -1920px;}
.select2-results__options .je{background-position:0 -1936px;}
.select2-results__options .jm{background-position:0 -1952px;}
.select2-results__options .jo{background-position:0 -1968px;}
.select2-results__options .jp{background-position:0 -1984px;}
.select2-results__options .ke{background-position:0 -2000px;}
.select2-results__options .kg{background-position:0 -2016px;}
.select2-results__options .kh{background-position:0 -2032px;}
.select2-results__options .ki{background-position:0 -2048px;}
.select2-results__options .km{background-position:0 -2064px;}
.select2-results__options .kn{background-position:0 -2080px;}
.select2-results__options .kp{background-position:0 -2096px;}
.select2-results__options .kr{background-position:0 -2112px;}
.select2-results__options .kw{background-position:0 -2128px;}
.select2-results__options .ky{background-position:0 -2144px;}
.select2-results__options .kz{background-position:0 -2160px;}
.select2-results__options .la{background-position:0 -2176px;}
.select2-results__options .lb{background-position:0 -2192px;}
.select2-results__options .lc{background-position:0 -2208px;}
.select2-results__options .li{background-position:0 -2224px;}
.select2-results__options .lk{background-position:0 -2240px;}
.select2-results__options .lr{background-position:0 -2256px;}
.select2-results__options .ls{background-position:0 -2272px;}
.select2-results__options .lt{background-position:0 -2288px;}
.select2-results__options .lu{background-position:0 -2304px;}
.select2-results__options .lv{background-position:0 -2320px;}
.select2-results__options .ly{background-position:0 -2336px;}
.select2-results__options .ma{background-position:0 -2352px;}
.select2-results__options .md{background-position:0 -2368px;}
.select2-results__options .me{background-position:0 -2384px;}
.select2-results__options .mg{background-position:0 -2400px;}
.select2-results__options .mh{background-position:0 -2416px;}
.select2-results__options .mk{background-position:0 -2432px;}
.select2-results__options .ml{background-position:0 -2448px;}
.select2-results__options .mm{background-position:0 -2464px;}
.select2-results__options .mn{background-position:0 -2480px;}
.select2-results__options .mo{background-position:0 -2496px;}
.select2-results__options .mq{background-position:0 -2512px;}
.select2-results__options .mr{background-position:0 -2528px;}
.select2-results__options .ms{background-position:0 -2544px;}
.select2-results__options .mt{background-position:0 -2560px;}
.select2-results__options .mu{background-position:0 -2576px;}
.select2-results__options .mv{background-position:0 -2592px;}
.select2-results__options .mw{background-position:0 -2608px;}
.select2-results__options .mx{background-position:0 -2624px;}
.select2-results__options .my{background-position:0 -2640px;}
.select2-results__options .mz{background-position:0 -2656px;}
.select2-results__options .na{background-position:0 -2672px;}
.select2-results__options .nc{background-position:0 -2688px;}
.select2-results__options .ne{background-position:0 -2704px;}
.select2-results__options .ng{background-position:0 -2720px;}
.select2-results__options .ni{background-position:0 -2736px;}
.select2-results__options .nl{background-position:0 -2752px;}  .select2-results__options .bq{background-position:0 -2752px;}
.select2-results__options .no{background-position:0 -2768px;}  .select2-results__options .bv, .select2-results__options .nq, .select2-results__options .sj{background-position:0 -2768px;}
.select2-results__options .np{background-position:0 -2784px;}
.select2-results__options .nr{background-position:0 -2800px;}
.select2-results__options .nz{background-position:0 -2816px;}
.select2-results__options .om{background-position:0 -2832px;}
.select2-results__options .pa{background-position:0 -2848px;}
.select2-results__options .pe{background-position:0 -2864px;}
.select2-results__options .pf{background-position:0 -2880px;}
.select2-results__options .pg{background-position:0 -2896px;}
.select2-results__options .ph{background-position:0 -2912px;}
.select2-results__options .pk{background-position:0 -2928px;}
.select2-results__options .pl{background-position:0 -2944px;}
.select2-results__options .pr{background-position:0 -2960px;}
.select2-results__options .ps{background-position:0 -2976px;}
.select2-results__options .pt{background-position:0 -2992px;}
.select2-results__options .pw{background-position:0 -3008px;}
.select2-results__options .py{background-position:0 -3024px;}
.select2-results__options .qa{background-position:0 -3040px;}
.select2-results__options .re{background-position:0 -3056px;}
.select2-results__options .ro{background-position:0 -3072px;}
.select2-results__options .rs{background-position:0 -3088px;}
.select2-results__options .ru{background-position:0 -3104px;}
.select2-results__options .rw{background-position:0 -3120px;}
.select2-results__options .sa{background-position:0 -3136px;}
.select2-results__options .sb{background-position:0 -3152px;}
.select2-results__options .sc{background-position:0 -3168px;}
.select2-results__options .sd{background-position:0 -3184px;}
.select2-results__options .se{background-position:0 -3200px;}
.select2-results__options .sg{background-position:0 -3216px;}
.select2-results__options .si{background-position:0 -3232px;}
.select2-results__options .sk{background-position:0 -3248px;}
.select2-results__options .sl{background-position:0 -3264px;}
.select2-results__options .sm{background-position:0 -3280px;}
.select2-results__options .sn{background-position:0 -3296px;}
.select2-results__options .so{background-position:0 -3312px;}
.select2-results__options .sr{background-position:0 -3328px;}
.select2-results__options .st{background-position:0 -3344px;}
.select2-results__options .sv{background-position:0 -3360px;}
.select2-results__options .sy{background-position:0 -3376px;}
.select2-results__options .sz{background-position:0 -3392px;}
.select2-results__options .tc{background-position:0 -3408px;}
.select2-results__options .td{background-position:0 -3424px;}
.select2-results__options .tg{background-position:0 -3440px;}
.select2-results__options .th{background-position:0 -3456px;}
.select2-results__options .tj{background-position:0 -3472px;}
.select2-results__options .tl{background-position:0 -3488px;}
.select2-results__options .tm{background-position:0 -3504px;}
.select2-results__options .tn{background-position:0 -3520px;}
.select2-results__options .to{background-position:0 -3536px;}
.select2-results__options .tr{background-position:0 -3552px;}
.select2-results__options .tt{background-position:0 -3568px;}
.select2-results__options .tv{background-position:0 -3584px;}
.select2-results__options .tw{background-position:0 -3600px;}
.select2-results__options .tz{background-position:0 -3616px;}
.select2-results__options .ua{background-position:0 -3632px;}
.select2-results__options .ug{background-position:0 -3648px;}
.select2-results__options .us{background-position:0 -3664px;}
.select2-results__options .um{background-position:0 -3664px;}
.select2-results__options .uy{background-position:0 -3680px;}
.select2-results__options .uz{background-position:0 -3696px;}
.select2-results__options .va{background-position:0 -3712px;}
.select2-results__options .vc{background-position:0 -3728px;}
.select2-results__options .ve{background-position:0 -3744px;}
.select2-results__options .vg{background-position:0 -3760px;}
.select2-results__options .vi{background-position:0 -3776px;}
.select2-results__options .vn{background-position:0 -3792px;}
.select2-results__options .vu{background-position:0 -3808px;}
.select2-results__options .ws{background-position:0 -3824px;}
.select2-results__options .ye{background-position:0 -3840px;}
.select2-results__options .za{background-position:0 -3856px;}
.select2-results__options .zm{background-position:0 -3872px;}
.select2-results__options .zw{background-position:0 -3888px;}
.select2-results__options .sx{background-position:0 -3904px;}
.select2-results__options .cw{background-position:0 -3920px;}
.select2-results__options .ss{background-position:0 -3936px;}
.select2-results__options .nu{background-position:0 -3952px;}


.select2-selection__choice .flag{ margin-top:1px; display:inline-block;height:16px;width:16px;vertical-align:text-top;line-height:16px;background:url(../images/flags16.png) no-repeat;}
.select2-selection__choice ._African_Union{background-position:0 -16px;}
.select2-selection__choice ._Arab_League{background-position:0 -32px;}
.select2-selection__choice ._ASEAN{background-position:0 -48px;}
.select2-selection__choice ._CARICOM{background-position:0 -64px;}
.select2-selection__choice ._CIS{background-position:0 -80px;}
.select2-selection__choice ._Commonwealth{background-position:0 -96px;}
.select2-selection__choice ._England{background-position:0 -112px;}
.select2-selection__choice ._European_Union, .select2-selection__choice .eu{background-position:0 -128px;}
.select2-selection__choice ._Islamic_Conference{background-position:0 -144px;}
.select2-selection__choice ._Kosovo{background-position:0 -160px;}
.select2-selection__choice ._NATO{background-position:0 -176px;}
.select2-selection__choice ._Northern_Cyprus{background-position:0 -192px;}
.select2-selection__choice ._Northern_Ireland{background-position:0 -208px;}
.select2-selection__choice ._Olimpic_Movement{background-position:0 -224px;}
.select2-selection__choice ._OPEC{background-position:0 -240px;}
.select2-selection__choice ._Red_Cross{background-position:0 -256px;}
.select2-selection__choice ._Scotland{background-position:0 -272px;}
.select2-selection__choice ._Somaliland{background-position:0 -288px;}
.select2-selection__choice ._Tibet{background-position:0 -304px;}
.select2-selection__choice ._United_Nations{background-position:0 -320px;}
.select2-selection__choice ._Wales{background-position:0 -336px;}
.select2-selection__choice .ad{background-position:0 -352px;}
.select2-selection__choice .ae{background-position:0 -368px;}
.select2-selection__choice .af{background-position:0 -384px;}
.select2-selection__choice .ag{background-position:0 -400px;}
.select2-selection__choice .ai{background-position:0 -416px;}
.select2-selection__choice .al{background-position:0 -432px;}
.select2-selection__choice .am{background-position:0 -448px;}
.select2-selection__choice .ao{background-position:0 -464px;}
.select2-selection__choice .aq{background-position:0 -480px;}
.select2-selection__choice .ar{background-position:0 -496px;}
.select2-selection__choice .as{background-position:0 -512px;}
.select2-selection__choice .at{background-position:0 -528px;}
.select2-selection__choice .au{background-position:0 -544px;}
.select2-selection__choice .aw{background-position:0 -560px;}
.select2-selection__choice .ax{background-position:0 -576px;}
.select2-selection__choice .az{background-position:0 -592px;}
.select2-selection__choice .ba{background-position:0 -608px;}
.select2-selection__choice .bb{background-position:0 -624px;}
.select2-selection__choice .bd{background-position:0 -640px;}
.select2-selection__choice .be{background-position:0 -656px;}
.select2-selection__choice .bf{background-position:0 -672px;}
.select2-selection__choice .bg{background-position:0 -688px;}
.select2-selection__choice .bh{background-position:0 -704px;}
.select2-selection__choice .bi{background-position:0 -720px;}
.select2-selection__choice .bj{background-position:0 -736px;}
.select2-selection__choice .bm{background-position:0 -752px;}
.select2-selection__choice .bn{background-position:0 -768px;}
.select2-selection__choice .bo{background-position:0 -784px;}
.select2-selection__choice .br{background-position:0 -800px;}
.select2-selection__choice .bs{background-position:0 -816px;}
.select2-selection__choice .bt{background-position:0 -832px;}
.select2-selection__choice .bw{background-position:0 -848px;}
.select2-selection__choice .by{background-position:0 -864px;}
.select2-selection__choice .bz{background-position:0 -880px;}
.select2-selection__choice .ca{background-position:0 -896px;}
.select2-selection__choice .cg{background-position:0 -912px;}
.select2-selection__choice .cf{background-position:0 -928px;}
.select2-selection__choice .cd{background-position:0 -944px;}
.select2-selection__choice .ch{background-position:0 -960px;}
.select2-selection__choice .ci{background-position:0 -976px;}
.select2-selection__choice .ck{background-position:0 -992px;}
.select2-selection__choice .cl{background-position:0 -1008px;}
.select2-selection__choice .cm{background-position:0 -1024px;}
.select2-selection__choice .cn{background-position:0 -1040px;}
.select2-selection__choice .co{background-position:0 -1056px;}
.select2-selection__choice .cr{background-position:0 -1072px;}
.select2-selection__choice .cu{background-position:0 -1088px;}
.select2-selection__choice .cv{background-position:0 -1104px;}
.select2-selection__choice .cy{background-position:0 -1120px;}
.select2-selection__choice .cz{background-position:0 -1136px;}
.select2-selection__choice .de{background-position:0 -1152px;}
.select2-selection__choice .dj{background-position:0 -1168px;}
.select2-selection__choice .dk{background-position:0 -1184px;}
.select2-selection__choice .dm{background-position:0 -1200px;}
.select2-selection__choice .do{background-position:0 -1216px;}
.select2-selection__choice .dz{background-position:0 -1232px;}
.select2-selection__choice .ec{background-position:0 -1248px;}
.select2-selection__choice .ee{background-position:0 -1264px;}
.select2-selection__choice .eg{background-position:0 -1280px;}
.select2-selection__choice .eh{background-position:0 -1296px;}
.select2-selection__choice .er{background-position:0 -1312px;}
.select2-selection__choice .es{background-position:0 -1328px;}
.select2-selection__choice .et{background-position:0 -1344px;}
.select2-selection__choice .fi{background-position:0 -1360px;}
.select2-selection__choice .fj{background-position:0 -1376px;}
.select2-selection__choice .fm{background-position:0 -1392px;}
.select2-selection__choice .fo{background-position:0 -1408px;}
.select2-selection__choice .fr{background-position:0 -1424px;}  .select2-selection__choice .bl, .select2-selection__choice .cp, .select2-selection__choice .mf, .select2-selection__choice .yt{background-position:0 -1424px;}
.select2-selection__choice .ga{background-position:0 -1440px;}
.select2-selection__choice .gb{background-position:0 -1456px;}  .select2-selection__choice .sh{background-position:0 -1456px;}
.select2-selection__choice .gd{background-position:0 -1472px;}
.select2-selection__choice .ge{background-position:0 -1488px;}
.select2-selection__choice .gg{background-position:0 -1504px;}
.select2-selection__choice .gh{background-position:0 -1520px;}
.select2-selection__choice .gi{background-position:0 -1536px;}
.select2-selection__choice .gl{background-position:0 -1552px;}
.select2-selection__choice .gm{background-position:0 -1568px;}
.select2-selection__choice .gn{background-position:0 -1584px;}
.select2-selection__choice .gp{background-position:0 -1600px;}
.select2-selection__choice .gq{background-position:0 -1616px;}
.select2-selection__choice .gr{background-position:0 -1632px;}
.select2-selection__choice .gt{background-position:0 -1648px;}
.select2-selection__choice .gu{background-position:0 -1664px;}
.select2-selection__choice .gw{background-position:0 -1680px;}
.select2-selection__choice .gy{background-position:0 -1696px;}
.select2-selection__choice .hk{background-position:0 -1712px;}
.select2-selection__choice .hn{background-position:0 -1728px;}
.select2-selection__choice .hr{background-position:0 -1744px;}
.select2-selection__choice .ht{background-position:0 -1760px;}
.select2-selection__choice .hu{background-position:0 -1776px;}
.select2-selection__choice .id{background-position:0 -1792px;}
.select2-selection__choice .mc{background-position:0 -1792px;}
.select2-selection__choice .ie{background-position:0 -1808px;}
.select2-selection__choice .il{background-position:0 -1824px;}
.select2-selection__choice .im{background-position:0 -1840px;}
.select2-selection__choice .in{background-position:0 -1856px;}
.select2-selection__choice .iq{background-position:0 -1872px;}
.select2-selection__choice .ir{background-position:0 -1888px;}
.select2-selection__choice .is{background-position:0 -1904px;}
.select2-selection__choice .it{background-position:0 -1920px;}
.select2-selection__choice .je{background-position:0 -1936px;}
.select2-selection__choice .jm{background-position:0 -1952px;}
.select2-selection__choice .jo{background-position:0 -1968px;}
.select2-selection__choice .jp{background-position:0 -1984px;}
.select2-selection__choice .ke{background-position:0 -2000px;}
.select2-selection__choice .kg{background-position:0 -2016px;}
.select2-selection__choice .kh{background-position:0 -2032px;}
.select2-selection__choice .ki{background-position:0 -2048px;}
.select2-selection__choice .km{background-position:0 -2064px;}
.select2-selection__choice .kn{background-position:0 -2080px;}
.select2-selection__choice .kp{background-position:0 -2096px;}
.select2-selection__choice .kr{background-position:0 -2112px;}
.select2-selection__choice .kw{background-position:0 -2128px;}
.select2-selection__choice .ky{background-position:0 -2144px;}
.select2-selection__choice .kz{background-position:0 -2160px;}
.select2-selection__choice .la{background-position:0 -2176px;}
.select2-selection__choice .lb{background-position:0 -2192px;}
.select2-selection__choice .lc{background-position:0 -2208px;}
.select2-selection__choice .li{background-position:0 -2224px;}
.select2-selection__choice .lk{background-position:0 -2240px;}
.select2-selection__choice .lr{background-position:0 -2256px;}
.select2-selection__choice .ls{background-position:0 -2272px;}
.select2-selection__choice .lt{background-position:0 -2288px;}
.select2-selection__choice .lu{background-position:0 -2304px;}
.select2-selection__choice .lv{background-position:0 -2320px;}
.select2-selection__choice .ly{background-position:0 -2336px;}
.select2-selection__choice .ma{background-position:0 -2352px;}
.select2-selection__choice .md{background-position:0 -2368px;}
.select2-selection__choice .me{background-position:0 -2384px;}
.select2-selection__choice .mg{background-position:0 -2400px;}
.select2-selection__choice .mh{background-position:0 -2416px;}
.select2-selection__choice .mk{background-position:0 -2432px;}
.select2-selection__choice .ml{background-position:0 -2448px;}
.select2-selection__choice .mm{background-position:0 -2464px;}
.select2-selection__choice .mn{background-position:0 -2480px;}
.select2-selection__choice .mo{background-position:0 -2496px;}
.select2-selection__choice .mq{background-position:0 -2512px;}
.select2-selection__choice .mr{background-position:0 -2528px;}
.select2-selection__choice .ms{background-position:0 -2544px;}
.select2-selection__choice .mt{background-position:0 -2560px;}
.select2-selection__choice .mu{background-position:0 -2576px;}
.select2-selection__choice .mv{background-position:0 -2592px;}
.select2-selection__choice .mw{background-position:0 -2608px;}
.select2-selection__choice .mx{background-position:0 -2624px;}
.select2-selection__choice .my{background-position:0 -2640px;}
.select2-selection__choice .mz{background-position:0 -2656px;}
.select2-selection__choice .na{background-position:0 -2672px;}
.select2-selection__choice .nc{background-position:0 -2688px;}
.select2-selection__choice .ne{background-position:0 -2704px;}
.select2-selection__choice .ng{background-position:0 -2720px;}
.select2-selection__choice .ni{background-position:0 -2736px;}
.select2-selection__choice .nl{background-position:0 -2752px;}  .select2-selection__choice .bq{background-position:0 -2752px;}
.select2-selection__choice .no{background-position:0 -2768px;}  .select2-selection__choice .bv, .select2-selection__choice .nq, .select2-selection__choice .sj{background-position:0 -2768px;}
.select2-selection__choice .np{background-position:0 -2784px;}
.select2-selection__choice .nr{background-position:0 -2800px;}
.select2-selection__choice .nz{background-position:0 -2816px;}
.select2-selection__choice .om{background-position:0 -2832px;}
.select2-selection__choice .pa{background-position:0 -2848px;}
.select2-selection__choice .pe{background-position:0 -2864px;}
.select2-selection__choice .pf{background-position:0 -2880px;}
.select2-selection__choice .pg{background-position:0 -2896px;}
.select2-selection__choice .ph{background-position:0 -2912px;}
.select2-selection__choice .pk{background-position:0 -2928px;}
.select2-selection__choice .pl{background-position:0 -2944px;}
.select2-selection__choice .pr{background-position:0 -2960px;}
.select2-selection__choice .ps{background-position:0 -2976px;}
.select2-selection__choice .pt{background-position:0 -2992px;}
.select2-selection__choice .pw{background-position:0 -3008px;}
.select2-selection__choice .py{background-position:0 -3024px;}
.select2-selection__choice .qa{background-position:0 -3040px;}
.select2-selection__choice .re{background-position:0 -3056px;}
.select2-selection__choice .ro{background-position:0 -3072px;}
.select2-selection__choice .rs{background-position:0 -3088px;}
.select2-selection__choice .ru{background-position:0 -3104px;}
.select2-selection__choice .rw{background-position:0 -3120px;}
.select2-selection__choice .sa{background-position:0 -3136px;}
.select2-selection__choice .sb{background-position:0 -3152px;}
.select2-selection__choice .sc{background-position:0 -3168px;}
.select2-selection__choice .sd{background-position:0 -3184px;}
.select2-selection__choice .se{background-position:0 -3200px;}
.select2-selection__choice .sg{background-position:0 -3216px;}
.select2-selection__choice .si{background-position:0 -3232px;}
.select2-selection__choice .sk{background-position:0 -3248px;}
.select2-selection__choice .sl{background-position:0 -3264px;}
.select2-selection__choice .sm{background-position:0 -3280px;}
.select2-selection__choice .sn{background-position:0 -3296px;}
.select2-selection__choice .so{background-position:0 -3312px;}
.select2-selection__choice .sr{background-position:0 -3328px;}
.select2-selection__choice .st{background-position:0 -3344px;}
.select2-selection__choice .sv{background-position:0 -3360px;}
.select2-selection__choice .sy{background-position:0 -3376px;}
.select2-selection__choice .sz{background-position:0 -3392px;}
.select2-selection__choice .tc{background-position:0 -3408px;}
.select2-selection__choice .td{background-position:0 -3424px;}
.select2-selection__choice .tg{background-position:0 -3440px;}
.select2-selection__choice .th{background-position:0 -3456px;}
.select2-selection__choice .tj{background-position:0 -3472px;}
.select2-selection__choice .tl{background-position:0 -3488px;}
.select2-selection__choice .tm{background-position:0 -3504px;}
.select2-selection__choice .tn{background-position:0 -3520px;}
.select2-selection__choice .to{background-position:0 -3536px;}
.select2-selection__choice .tr{background-position:0 -3552px;}
.select2-selection__choice .tt{background-position:0 -3568px;}
.select2-selection__choice .tv{background-position:0 -3584px;}
.select2-selection__choice .tw{background-position:0 -3600px;}
.select2-selection__choice .tz{background-position:0 -3616px;}
.select2-selection__choice .ua{background-position:0 -3632px;}
.select2-selection__choice .ug{background-position:0 -3648px;}
.select2-selection__choice .us{background-position:0 -3664px;}
.select2-selection__choice .um{background-position:0 -3664px;}
.select2-selection__choice .uy{background-position:0 -3680px;}
.select2-selection__choice .uz{background-position:0 -3696px;}
.select2-selection__choice .va{background-position:0 -3712px;}
.select2-selection__choice .vc{background-position:0 -3728px;}
.select2-selection__choice .ve{background-position:0 -3744px;}
.select2-selection__choice .vg{background-position:0 -3760px;}
.select2-selection__choice .vi{background-position:0 -3776px;}
.select2-selection__choice .vn{background-position:0 -3792px;}
.select2-selection__choice .vu{background-position:0 -3808px;}
.select2-selection__choice .ws{background-position:0 -3824px;}
.select2-selection__choice .ye{background-position:0 -3840px;}
.select2-selection__choice .za{background-position:0 -3856px;}
.select2-selection__choice .zm{background-position:0 -3872px;}
.select2-selection__choice .zw{background-position:0 -3888px;}
.select2-selection__choice .sx{background-position:0 -3904px;}
.select2-selection__choice .cw{background-position:0 -3920px;}
.select2-selection__choice .ss{background-position:0 -3936px;}
.select2-selection__choice .nu{background-position:0 -3952px;}

.column-2 {
    width: 48%;
    padding: 10px;
    float: left;
    display: inline-block;
    margin-right: 0;
    min-height: 872px;
}
